.login_form_container{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 14%;
    text-align: center;
}

.login_form_container h1{
    font-size: 50px;
}

.login_form{
    display: flex;
    gap: 30px;
    flex-direction: column;
    font-size: 30px;

}
.login_form input{
    font-size: 30px;
}

.login_submit{
    font-size: 20px;
    padding: 2%;
    width: 30%;
    margin: auto;
    cursor: pointer;
    background-color: skyblue;
}
.login_submit:hover{
    background-color: rgb(58, 115, 228);
    color: white;
    transition: 0.3s;
    border-radius: 20px;
}